[Unit]
Description=Leviarcoin Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/leviarcoin-src/src/leviarcoind --rpc-bind-ip 127.0.0.1 --rpc-bind-port 19001 --detach
ExecStop=/usr/local/src/leviarcoin-src/src/leviarcoind exit
Restart=always
User=leviardaemon

[Install]
WantedBy=multi-user.target
